#particles-js{
    
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    background-image: url(index.css);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
   
    
     
     
}


#blanco{
     background: black;
     opacity: 50%;
     z-index: 0;
}

.sombra{
    height: 100vh;
    min-height: 500px;
    
}

.masthead{
    height: 100vh;
    min-height: 500px;
    background-image: url(../assets/Presidencia.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}


div {
    display: block;
}